# Movies ETL

In [ ]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import time

In [ ]:
file_dir = 'C://Users/benjh/Documents/Class/Mod8MovieFiles'

In [ ]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
len(wiki_movies_raw)

In [ ]:
# First 5 records
wiki_movies_raw[:5]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [ ]:
kaggle_metadata.head()

In [ ]:
kaggle_metadata.tail()

In [ ]:
kaggle_metadata.sample(2)

In [ ]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [ ]:
wiki_movies_df.head(2)

In [ ]:
wiki_movies_df.columns.tolist()

In [ ]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

In [ ]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

#### Lambada Function

In [ ]:
lambda arguments: expression
lambda x: x * x
square = lambda x: x * x
square(5)

#### Constructors 
##### (Constructors are special functions that can take parameters and initialize a new object using those parameters.)

In [ ]:
# An example of a constructor function
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    return movie

 ### Alternate movie titles

In [ ]:
# Let's take a look at movie "languages". The first one on the list is Arabic.
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [ ]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]['url']

In [ ]:
# As seen in previous cell result, there are 193 columns and we cannot make them to b shown here,
# bet we can list them by"
sorted(wiki_movies_df.columns.tolist())

### Handling the Alternate Titles

In [ ]:
# Step 1: Make an empty dict to hold all of the alternative titles (by creating a function).

# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy
#     alt_titles = {}
#     return movie

In [ ]:
# Step 2: Loop through a list of all alternative title keys.

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        
        return movie

In [ ]:
# Step 2a: Check if the current key exists in the movie object.

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            
            
            return movie

In [ ]:
# Step 2b: If so, remove the key-value pair and add to the alternative titles dictionary.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)


    return movie

In [ ]:
# Step 3: After looping through every key, add the alternative titles dict to the movie object.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    return movie

In [ ]:
# We can make a list of cleaned movies with a list comprehension:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
#  Set wiki_movies_df to be the DataFrame created from clean_movies, and print out a list of the columns.
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
    # Consolidating columns with the same data into one column
    # Example:
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)

In [ ]:
# use verbs and be explicit in the phrases you make
# To change every instance where the key is "Directed by" to the new key "Director," 
# write the following inside clean_movie():change_column_name('Directed by', 'Director'), as an example:

# change_column_name('Directed by', 'Director')

In [ ]:
# To avoid the clean_movie() function look complicated,we should add # some commenting 
# to make it easier to understand. The whole function should look like this:

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [ ]:
# Now we can rerun our list comprehension to clean wiki_movies and recreate wiki_movies_df.

clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

### Cleaning the rows

In [ ]:
# Now that the columns are tidied up, time to move on to the rows!
# we're going to be using the IMDb ID to merge with the Kaggle data, we want to make sure 
# that we don't have any duplicate rows.
# To extract the ID, we need to use regular expressions or regex method.

wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head(2)

In [ ]:
# Now that we've consolidated redundant columns (nearly 150 as shown in in above cell) and 41 columns 
# are remaining), we want to see how many null values are in each column:  

[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [ ]:
# We could also use a for loop and a print statement.
# Either way, we can see about half the columns have more than 6,000 null values. 
# Let's make a list of columns that have less than 90% null values to trim down our dataset.

wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
wiki_columns_to_keep

In [ ]:
# we've reduced 191 messy columns down to 21 useful, data-filled columns as seen in the output.
# and th dataframe would look like:
wiki_movies_df.head(2)

In [ ]:
# Some of the columns also have data stored as text when it should be numeric data or datetimes.
# So, we need to identify which columns need to be converted. wiki_movies_df.dtypes will display 
# the data type for each column.

wiki_movies_df.dtypes

In [ ]:
# Looking through the data, column by column, we see that:
#     Box office should be numeric.
#     Budget should be numeric.
#     Release date should be a date object.
#     Running time should be numeric.
# Moreover, the box office and budget amounts aren't written in a consistent style.

# So, first we'll make a data series that drops missing values

box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
box_office

In [ ]:
# Regular expressions only work on strings, so we'll need to make sure all of the box office data 
# is entered as a string. By using the apply() method, we can see which values are not strings. 
# First, make a is_not_a_string() function:

def is_not_a_string(x):
    return type(x) != str

# Then we add 
box_office[box_office.map(is_not_a_string)]

In [ ]:
# Instead of creating a new function with a block of code and the def keyword, 
# we can create an anonymous lambda function right inside the map() call.
# We can update our map() call to use the lambda function directly instead of using is_not_a_string():

box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
# We'll use a simple space as our joining character and apply the join() function 

box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
box_office

### Regular Expressions (Mod 8.3.9)

In [ ]:
# Regular expressions are just strings of characters that are used as a search pattern. 
# They are used to test if strings are in a specific format or contain a substring in a 
# specific format, to extract pertinent information from strings while discarding unnecessary 
# information, and to perform complicated replacements of substrings.

# Regular expressions are used in almost all general-purpose languages like Python. 
# For example, they are also used in JavaScript, C#, and Java. 
# Sometimes they are the only viable solution to a problem.

In [ ]:
# We'll use regular expressions to find out just how many of each style "\$123.4 million" (or billion) 
# or "\$123,456,789."are in our data."
# There is a built-in Python module for regular expressions: re
# Python best practices recommend putting all of your import statements at the beginning of your program.

import re # the import was added to the top of the codes

### Parse the Box Office Data (Module 8.3.10)

In [ ]:
# Create the First Form to capture this number "$123.4 million" (or billion)
# the regex
form_one = r'\$\d+\.?\d*\s*[mb]illion'

# the first form
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

In [ ]:
# Create the second Form to capture this number, "$123,456,789."
# the regex
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

In [ ]:
# Now we want to see which values aren't described by either.
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [ ]:
# Compare Values in Forms
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
# Fixing Pattern Matches
# 1. Some values have spaces in between the dollar sign and the number.
# This is easy to fix. Just add \s* after the dollar signs.

form_one = r'\$\s*\d+\.?\d*\s*[mb]illion'

form_two = r'\$\s*\d{1,3}(?:,\d{3})+'

In [ ]:
# 2. Some values use a period as a thousands separator, not a comma.
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+'

In [ ]:
# we're trying to change raw numbers like $123.456.789. We don't want to capture any values 
# like 1.234 billion so we need the form to look ahead and reject the match if it finds those strings
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [ ]:
# 3. Some values are given as a range. 
# Some editors will convert them in certain situations to em dashes and en dashes. 
# That is why you are seeing three different types of dashes in the regex expression [-—–] below:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# 4. "Million" is sometimes misspelled as "millon." 
# we can just make the second "i" optional in our match string with a question mark as follows:

form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [ ]:
# Now that we've got expressions to match almost all the box office values, 
# we'll use them to extract only the parts of the strings that match
box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
# Now we need a function to turn the extracted values into a numeric value. 
# We'll call it parse_dollars, and parse_dollars will take in a string and return a floating-point number. 
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
# Now we have everything we need to parse the box office values to numeric values.

wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

wiki_movies_df['box_office']

In [ ]:
# Now, we no longer need the Box Office column, so we'll just drop it:	

wiki_movies_df.drop('Box office', axis=1, inplace=True)

### Parsing the Budget (Module 8.3.11)

In [ ]:
# We parsed the box office data and we will use the same pattern matches and see 
# how many budget values are in a different form.

#Create a budget variable with the following code:
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# Convert any lists to strings:

budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Then remove any values between a dollar sign and a hyphen (for budgets given in ranges):

budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# We use the same pattern matches that we created to parse the box office data, 
# and apply them without modifications to the budget data.	
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# That parsed almost all of the budget data. However, there's a new issue with the budget data: 
# citation references (the numbers in square brackets).

# We can remove those fairly easily with a regular expression.
# \[\d+\] 

# Remove the citation references with the following:

budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# There will be 30 budgets remaining.
# Is it worth our time to try and parse what we can out of these remaining 30 budget values, 
# or should we just drop them?
# A handful of them don't even have numeric values, and those that do tend to be in a different currency.

# There are a handful of values that could be parsed into usable data points without 
# worrying about currency conversion, but we have almost 4,700 other budget values 
# to work with, so even 30 values is less than 1% of the data.

# Everything is now ready to parse the budget values. We can copy the line of code we used to 
# parse the box office values, changing "box_office" to "budget":

wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
wiki_movies_df['budget']

In [ ]:
# We can now drop the original Budget column.

wiki_movies_df.drop('Budget', axis=1, inplace=True)

### Parsing the release date

In [ ]:
# Parsing the release date will follow a similar pattern to parsing box office and budget, 
#but with different forms.

# First, make a variable that holds the non-null values of Release date in the DataFrame, 
#converting lists to strings:

release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
release_date

In [ ]:
# The forms we'll be parsing are:

# Full month name, one- to two-digit day, four-digit year (i.e., January 1, 2000)
# Four-digit year, two-digit month, two-digit day, with any separator (i.e., 2000-01-01)
# Full month name, four-digit year (i.e., January 2000)

# One way to parse those forms is with the following:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
# The last four statements in the cell above: 
    # The first matches the month, dd, yyyy format. 
    # The second matches yyyy.mm.dd. 
    # The third matches month yyyy. 
    # The fourth matches yyyy.

In [ ]:
# And then we can extract the dates with:	
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# Instead of creating our own function to parse the dates, we'll use the built-in to_datetime() method 
# in Pandas. Since there are different date formats, set the infer_datetime_format option to True. 
# The date formats we've targeted are among those that the to_datetime() function can recognize, 
# which explains the infer_datetime_format=True argument below.

wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

### Parse Running Time

In [ ]:
# Parse Running Time
# First, make a variable that holds the non-null values of Release date in the DataFrame, 
# converting lists to strings:

running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
running_time

In [ ]:
# It looks like most of the entries just look like "100 minutes.
# Let's see how many running times look exactly like that by using "string" boundaries.

running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

In [ ]:
# The above code returns 6,528 entries. Let's get a sense of what the other 366 entries look like.

running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

In [ ]:
# Let's make this more general by only marking the beginning of the string, and accepting 
# other abbreviations of "minutes" by only searching up to the letter "m."

running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

In [ ]:
# That accounts for 6,877 entries. The remaining 17 follow:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

In [ ]:
# We only want to extract digits, and we want to allow for both possible patterns. 
# Therefore, we'll add capture groups around the \d instances as well as add an alternating character. 
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [ ]:
running_time_extract

In [ ]:
# This new DataFrame is all strings, we'll need to convert them to numeric values. 

# Because we may have captured empty strings, we'll use the to_numeric() method and 
# set the errors argument to 'coerce'. Coercing the errors will turn the empty strings 
# into Not a Number (NaN), then we can use fillna() to change all the NaNs to zeros."

running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
running_time_extract

In [ ]:
# Now we apply a function to convert the hour and minute capture groups to minutes 
# if the pure minutes capture group is zero, and save the output to wiki_movies_df:

wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# Finally, we drop Running time from the dataset with the following code:

wiki_movies_df.drop('Running time', axis=1, inplace=True)

### Cleaning the Kaggle Data (Module 8.3.12)

In [ ]:
# The Kaggle data that Britta found is much more structured, but it still requires some cleaning, 
# including converting strings to correct data types.

# Initial Look at the Movie Metadata to see all of the columns in the csv file are the correct data types
kaggle_metadata.dtypes

In [ ]:
# The data types in Kaggle dataset
#     release_date    datetime
#     popularity	numeric
#     ID	numeric
#     video	Boolean
#     adult	Boolean
#     budget	numeric
# We'll convert the data types for each of the six columns that need to be converted.

# Before we convert the "adult" and "video" columns, let's check that all the values are either True or False.

kaggle_metadata['adult'].value_counts()

#### Removing bad data

In [ ]:
# We have some bad data in here. Let's remove it.	
	
# To remove the bad data, use the following:	

kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# Taking a closer look at the three movies there appears to be corrupted data:
# Somehow the columns got scrambled for these three movies.
#We don't want to include adult movies, therefore, we'll only keep rows where 
# adult is False, and then drop the "adult" column.

#The following code will keep rows where the adult column is False, and then drop the adult column.
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
kaggle_metadata.head(3)

In [ ]:
#Next, we'll look at the values of the video column:	
kaggle_metadata['video'].value_counts()

#### Converting Data Types

In [ ]:
# There are only false and true datatypes that we can easily convert them

kaggle_metadata['video'] == 'True'

In [ ]:
# The above code creates the Boolean column we want. We just need to assign it back to video:	
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# For the numeric columns, we can just use the to_numeric() method from Pandas. 
# We'll make sure the errors= argument is set to 'raise', so we'll know if there's 
# any data that can't be converted to numbers.

kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# Finally, we need to convert release_date to datetime. 
# Pandas has a built-in function for that as well: to_datetime().	 	 
# Since release_date is in a standard format, to_datetime() will convert it without any fuss.	

kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Now we are done with cleaning the Kaggle metadata!

### Reasonability Checks on Ratings Data

In [ ]:
# Lastly, we'll take a look at the ratings data. 
# We'll use the info() method on the DataFrame. 
# Since the ratings dataset has so many rows, we need to set the null_counts option to True.

ratings.info(null_counts=True)

In [ ]:
# We'll specify in to_datetime() that the origin is "unix" and the time unit is "seconds".	
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Since the output looks reasonable, assign it to the timestamp column. 
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# *** To show the background of the histogram (next cell's output) in the current jupyter notebook theme.
from jupyterthemes import jtplot
jtplot.style()

In [ ]:
# Finally, we'll look at the statistics of the ratings and see if there are any errors. 
# A quick, easy way is to a histogram of the rating distributions, then use the
# describe() method to print out some stats on central tendency and spread.

pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

### Merging Wikipedia and Kaggle Metadata (Module 8.4.1)

In [ ]:
# Wikipedia data and Kaggle data are cleaned up and in tabular formats with the right 
# data types for each column, we can join them together.
# ut it still needs to be cleaned up a bit, especially where both overlap.
# We only want movies that are in both tables, an INNER JOIN is an appropriate join to use.
# One of the things we always want to look out for after merging data is redundant columns.
# Let's print out a list of the columns to identify redundant columns. 
# We'll use the suffixes parameter to make it easier to identify which table each column came from. 

movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
movies_df.head(2)

In [ ]:
# There are seven pairs of columns that have redundant information.
# We'll look at each pair of columns and decide how to handle the data.
# Below is the list of competing columns. We'll fill in the resolution to each pair.
    
# Competing data:

# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia. [see COMMENT 1 below.]
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data
# release_date_wiki        release_date_kaggle      Keep Kaggle; drop Wikipedia release dates
# Language                 original_language        Keep Kaggle; drop Wikipedia.
# Production company(s)    production_companies     Keep Kaggle; drop Wikipedia.

In [ ]:
#  <<< 1- Title >>>
# Take a quick look at some of the titles.

movies_df[['title_wiki','title_kaggle']]

In [ ]:
# They both seem consistent, which we'd expect.
# Look at the rows where the titles don't match.	
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Both options look pretty good, but the Kaggle data looks just a little more consistent.

# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# COMMENT !:  No results were returned, so we can just drop the Wikipedia titles. 
# Next, look at running_time versus runtime. 
# A scatter plot is a great way to give us a sense of how similar the columns are to each other. 
# Scatter plot would not show null or missing values
# The following code will fill in missing values with "zero" and make the scatter plot:

movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# There are more data points on the origin of the Y axis that is Kaggle, this means there are more missing
# entries in the Wikipedia data set 
# Also, most of the runtimes are pretty close to each other but the Wikipedia data has some outliers
# We can also see from the scatter plot that there are movies where Kaggle has 0 for the runtime but
# Wikipedia has data, so we'll fill in the gaps with Wikipedia data. 
# ---> drop wiki but fill the missing data from wiki

In [ ]:
# <<<< 2- Budget >>>>
# Since budget_wiki and budget_kaggle are numeric, we'll make another scatter plot to compare the values:

movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# The Wikipedia data appears to have more outliers 
# However, there are quite a few movies with no data in the Kaggle column, 
# Therefore, we'll fill in the gaps with Wikipedia's data.

In [ ]:
# <<<< 3- Box Office >>>>
# The box_office and revenue columns are numeric, so we'll make another scatter plot.

movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# Scatter plots looks pretty close, but we might be getting thrown off by the scale of large
# data point. Let's look at the scatter plot for everything less than $1 billion in box_office.

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# This looks similar to what we've seen for budget, so keep the Kaggle data, but fill in 
# the zeros with Wikipedia data.

In [ ]:
# <<<< 4- Release Date >>>>
# For release dates, we can't directly make a scatter plot, as it only works on numeric data. 
# However, there's a tricky workaround. We'll use the regular line plot (which can plot date data), 
# and change the style to only put dots by adding style='.' to the plot() method:


# movies_df[['Release date','release_date']].plot(x='Release date', y='release_date', style='.')

movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# movies_df.head(2)

In [ ]:
# movies_df.columns

In [ ]:
# We should investigate that wild outlier around 2006. 
# We're just going to choose some rough cutoff dates to single out that one movie. 
# We'll look for any movie whose release date according to Wikipedia is after 1996, but whose 
# release date according to Kaggle is before 1965. 

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# Based on the output, it looks like somehow The Holiday in the Wikipedia data got merged 
# with From Here to Eternity. We'll have to drop that row from our DataFrame. 
# We'll get the index of that row with the following:

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# Then we can drop that row like this:

movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# Now, see if there are any null values:

movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# The Wikipedia data is missing release dates for 11 movies:
# But the Kaggle data isn't missing any release dates. In this case, we'll just drop the Wikipedia data.

#If we take a look at what columns we have, we will see that release_date_wiki is there and needs to go 
movies_df.columns

In [ ]:
# We should drop release_date_wiki here.

# ...........drop('release_date_wiki',axis='columns')

In [ ]:
# <<<< 5- Language >>>>

# For the language data, we'll compare the value counts of each. However, consider the following code:

movies_df['Language'].value_counts()

In [ ]:
# The code above throws an error because some of the language data points are stored as lists.
# TypeError: unhashable type: 'list'

# We need to convert the lists in Language to tuples so that the value_counts() method will work. 

movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# For the Kaggle data, there are no lists, so we can just run value_counts() on it.

movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# <<<< 6- Production Companies >>>>

# We'll start off just taking a look at a small number of samples.

movies_df[['Production company(s)','production_companies']]

In [ ]:
# The Kaggle data is much more consistent, and it would be difficult, if not impossible, to translate the Wikipedia data into the same format.
# We'll drop the Wikipedia data in this case.

In [ ]:
# Let's Put It All Together
# First, we'll drop the title_wiki, release_date_wiki, Language, and Production company(s) columns.

movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# Next, to save a little time, we'll make a function that fills in missing data for a 
# column pair and then drops the redundant column.

def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# Now we can run the function for the three column pairs that we decided to fill in zeros.

fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
# Since we've merged our data and filled in values, it's good to check that there aren't any 
# columns with only one value, since that doesn't really provide any information. 
# We also need to convert lists to tuples for value_counts() to work.

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
# Running this, we see that 'video' only has one value:

movies_df['video'].value_counts(dropna=False)

In [ ]:
# We should reorder the columns to make the dataset easier to read for the hackathon participants. 
# Having similar columns near each other helps people looking through the data get a better sense 
# of what information is available.

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# Finally, we need to rename the columns to be consistent.

movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# Our first part of merge between Wikipeda and Kaggle data is complete.
# We will push this to GitHub

### Transforming and Merging Rating Data

In [ ]:
# Now we want to include the rating data with the movie data, but it's a very large dataset. 
# We need to reduce the ratings data to a useful summary of rating information for each movie, 
# and then make the full dataset available to the hackathon participants, if needed.

 # First, we need to use a groupby on the "movieId" and "rating" columns and take the count for each group. 
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# Then we'll rename the "userId" column to "count."
# The choice of renaming "userId" to "count" is arbitrary. Both have the same information, 
# and we could use either one.

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [ ]:
# Now the magical part. We can pivot this data so that movieId is the index, the columns 
# will be all the rating values, and the rows will be the counts for each rating value.

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
rating_counts

In [ ]:
# We want to rename the columns so they're easier to understand. 
# We'll prepend rating_ to each column with a list comprehension:

rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
rating_counts.columns

In [ ]:
# This time, we need to use a left merge, since we want to keep everything in movies_df:

movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
movies_with_ratings_df

In [ ]:
# Finally, because not every movie got a rating for each rating level, there will be 
# missing values instead of zeros. We have to fill those in ourselves, like this:
    
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
movies_with_ratings_df

In [ ]:
# At this point, we finished the Transform step in ETL! 
# Next we will loadour tables into SQL.

### Connecting Pandas and SQL (Module 8.5.1)

In [ ]:

# Now that we've extracted and transformed our data, it's time to load it into a SQL database. 
# We're going to create a new database and use the built-in to_sql() method in Pandas to create 
# a table for our merged movie data.

# We need to import create_engine from the sqlalchemy module. (add this import to the first cell).

from sqlalchemy import create_engine

In [ ]:
from config import db_password

In [ ]:
# For our local server, the connection string will be as follows:
# This is all the information that SQLAlchemy needs to create a database engine.
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
# Create the database engine with the following:

# But some users may need an additional package installed before running the folowing code. 
# In [Anaconda] terminal, run the following code: pip install psycopg2-binary 
# to add it to your coding environment.

engine = create_engine(db_string)

In [ ]:
# To save the movies_df DataFrame to a SQL table, we only have to specify the name of the table 
# and the engine in the to_sql() method.

movies_df.to_sql(name='movies', con=engine)

In [ ]:
# In pgAdmin, confirm that the table imported correctly. Follow these steps:

    # Right-click the "movies" table name and select Properties.
    # Click the Columns tab to make sure all columns have an appropriate data type.
    # Close the Properties window, and then right-click "movies" again.
    # Select "View/Edit Data" followed by "First 100 Rows."
    # Right-click "movies" and select Query Tool.
    # Inside the Query Editor, run the query "select count(*) from movies" to make sure all the rows 
    # were imported.

In [ ]:
# Now it's time to import the ratings data.
# The ratings data is too large to import in one statement, so it has to be divided into "chunks" of data. 
# To do so, we'll need to reimport the CSV using the chunksize= parameter in read_csv(). 
# This creates an iterable object, so we can make a for loop and append the chunks of data to the new 
# rows to the target SQL table.
# This can take quite a long time to run (more than an hour). 
# It's a really good idea to print out some information about how it's running.
# We will add functionality for the print out:
    # How many rows have been imported
    # How much time has elapsed

In [ ]:
# <<<<< Step 1: Print Number of Imported Rows >>>>>
    # create a variable for the number of rows imported

# <<<<< Step 2: Print Elapsed Time >>>>>
    # We'll use the built-in time module in Python. 
    # time.time() returns the current time whenever it is called. 
    # Subtracting two time values gives the difference in seconds. 
    # By setting a variable at the beginning to the time at the start, inside the loop 
    # we can easily calculate elapsed time and print it out.

In [ ]:
# NOTE: (to prevent the code below throw an error I typed a forward slash before ratings.vcsv)
# We're going to print the total amount of time elapsed at every step. 

import time

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
# Once the cell finishes running, confirm the table imported correctly using pgAdmin. 

# To do so: Right click on the movies table >> View/Edit Data >> First 100 rows

# Verify the columns have the correct data type, inspect the first 100 rows, and check the row count.

In [ ]:
# Then make sure you have added not to track code to ignore file on GitUb
        # Open the .gitignore file, and on the first line type the following:

        # Adding config.py file.
        # config.py
        
# And finally send the files to GitHub